.login-form {
    width: 320px;
    margin: 0px auto;
    font-size: 15px;
    position: absolute;
    left: 40%;
    top: 20%;
   }
  
   .form{
    margin-bottom: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 50;
   }
  
   .container{
    background-image: url('./images/wp.jpeg');
    height: 680px;
    margin: 500;
    padding: 100;
    display: table;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-size: cover;
   }
  
   .login-form{
    margin-bottom: 15px;
    background: #dddada;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }


  .login-form h2 {
    margin: 0 0 15px;
  }
  .form-control, .btn {
    min-height: 0px;
    display: flex;
  }
  .btn {        
    font-size: 15px;
    font-weight: bold;
  }
  
  .App{
    border:2px;
    padding: 0px;
    background-image: url'./images/gp.jpg';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: 0.4 ease-out;

  }

  .error-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  
  .error-wrapper .title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
  }
  
  .error-wrapper .info {
    font-size: 14px;
  }
  
  .displaybar{
    color: black;
    font-size: 20px;
    display: table;
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px rgba(53, 53, 53, 0.5);
    background: rgba(255, 255, 255, 0.52);
    transition: 0.4s ease;
    align-items: center;
  }

  .error-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  
  .error-wrapper .title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
  }
  
  .error-wrapper .info {
    font-size: 14px;
  }
  
  .home-btn, 
  .home-btn:focus, 
  .home-btn:hover, 
  .home-btn:visited {
    text-decoration: none;
    font-size: 14px;
    color: #55aa29;
    padding: 17px 77px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: block;
    margin: 20px 0;
    width: max-content;
    background-color: transparent;
    outline: 0;
  }
  
  .man-icon {
    background: url('https://www.hotstar.com/assets/b5e748831c911ca02f9c07afc11f2ae5.svg') center center no-repeat;
    display: inline-block;
    height: 100px;
    width: 118px;
    margin-bottom: 16px;
  }

  .date{
    display: inline-block;
  }
